<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Śniadania</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
</head>
<body class="mainBody">
<h2 class="recipeName">Śniadania</h2>
<img src="https://bezgluten.pl/cache/blog/7-przepisow-na-bezglutenowe--smaczne-sniadania-dla-dzieci/sniadania-dla-dzieci-bezglutenowe.jpg_alpha-127_cr-wp_690x450_gd.jpg"
     class="categoryImg" alt="śniadanie">
<p class="text-For-Category">Śniadanie to pierwszy i najważniejszy posiłek dnia, który powinien dostarczyć najwięcej energii.
    Tradycyjne polskie śniadanie wielu osobom kojarzy się z chrupiącym i świeżo wypieczonym chlebem
    czy bułkami oraz dodatkami takimi jak jajka, ser, szynka itp. </p>

<table class="table">
    <thead>
    <tr>
        <th>
            <h3></h3>
        </th>
        <th>
            <h3>Nazwa</h3>
        </th>
    </tr>
    <tbody>
    <tr th:each="recipe: ${breakfast}">
        <td class="tdForImg">
            <img th:src="|/images/${recipe.img}|" class="homeImages" alt=""/>
        </td>
        <td>
            <a th:href="|/recipe/${recipe.id}|" th:text="${recipe.name}"></a>
        </td>
    </tr>
    </tbody>
</table>

<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>