<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Śniadania</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
</head>
<body class="mainBody" th:each="recipe: ${recipes}">
<h2 class="recipeName" th:text="${recipe.category.type.text}"></h2>
<img th:scr="|/images/${recipe.category.categoryImg}|" class="categoryImg" alt="kategorie">
<p class="text-For-Category" th:text="${recipe.category.description}"></p>

<table class="table">
    <thead>
    <tr>
        <th>
            <h3></h3>
        </th>
        <th>
            <h3>Nazwa</h3>
        </th>
    </tr>
    <tbody>
    <tr>
        <td class="tdForImg">
            <img th:src="|/images/${recipe.img}|" class="homeImages" alt=""/>
        </td>
        <td>
            <a th:href="|/recipe/${recipe.id}|" th:text="${recipe.name}"></a>
        </td>
    </tr>
    </tbody>
</table>

<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>