<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Kategoria</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <h2 th:text="${category.name}" class="recipeName"></h2>
        <img th:src="|${category.img}|" class="categoryImg" alt="kategorie">
        <p class="text-For-Category" th:text="${category.description}"></p>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>
                <h3></h3>
            </th>
            <th>
                <h3 class="categoryText">Nazwa</h3>
            </th>
        </tr>
        <tbody>
        <tr th:each="recipe: ${recipes}">
            <td class="tdForImg">
                <img th:src="|${recipe.img}|" class="homeImages" alt=""/>
            </td>
            <td class="categoryText">
                <a th:href="|/recipe/${recipe.id}|" th:text="${recipe.name}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>