<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Desery</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
</head>

<body class="mainBody">
<h2 class="recipeName">Desery</h2>
<img src="https://cdn.galleries.smcloud.net/t/galleries/gf-JSng-7Ntr-YQ2K_nagi-tort-na-walentynki-664x442-nocrop.jpg"
     class="categoryImg" alt="deser">
<p class="text-For-Category">Leniwe popołudnie to jedna z ulubionych pór dnia łasuchów. To właśnie wtedy przychodzi czas
    na długo wyczekiwany po obiedzie deser,
    który może mieć przecież tak wiele postaci! </p>

<table class="table">
    <thead>
    <tr>
        <th>
            <h3></h3>
        </th>
        <th>
            <h3>Nazwa</h3>
        </th>
    </tr>
    <tbody>
    <tr th:each="recipe: ${dessert}">
        <td class="tdForImg">
            <img th:src="|/images/${recipe.img}|" class="homeImages" alt=""/>
        </td>
        <td>
            <a th:href="|/recipe/${recipe.id}|" th:text="${recipe.name}"></a>
        </td>
    </tr>
    </tbody>
</table>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>