<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kolacje</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
</head>

<body class="mainBody">
<h2 class="recipeName">Kolacje</h2>
<img src="https://staticsmaker.iplsc.com/smaker_prod_2021_10_06/2cc9f03b97a3019b6f5efaa28552ec0d-recipe_main.jpg" class="categoryImg" alt="kolacja">
<p class="text-For-Category">Kolacja – ostatni posiłek wieczorny. Słowo kolacja wywodzi się z języka starołacińskiego od collatio, collationis w znaczeniu zbiórki,
    składki pieniężnej, ale także zebrania, zgromadzenia dostojnych gości na niezwykle uroczystej biesiadzie, uczcie czy wieczerzy.</p>

<table class="table">
    <thead>
    <tr>
        <th>
            <h3></h3>
        </th>
        <th>
            <h3>Nazwa</h3>
        </th>
    </tr>
    <tbody>
    <tr th:each="recipe: ${dinner}">
        <td class="tdForImg">
            <img th:src="|/images/${recipe.img}|" class="homeImages" alt=""/>
        </td>
        <td>
            <a th:href="|/recipe/${recipe.id}|" th:text="${recipe.name}"></a>
        </td>
    </tr>
    </tbody>
</table>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>