<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edycja lub dodawanie przepisu</title>
</head>
<body>

<div layout:fragment="content">
    <h2 class="titleIn" th:if="${recipe.id ne null}">Edycja przepisu</h2>
    <h2 class="titleIn" th:if="${recipe.id eq null}">Dodawanie nowego przepisu</h2>
    <div class="editForm-img">
        <form th:action="@{/recipe/save}" method="post" th:object="${recipe}" class="containerForm">
            <div class="form-group">
                <label>
                    <input th:field="*{id}" hidden>
                </label>
                <label for="recipeName">Nazwa</label>
                <input type="text" class="form-control" id="recipeName" th:field="*{name}">
            </div>
            <div class="form-group">
                <label for="directions">Wymień kroki</label>
                <textarea class="form-control" id="directions" rows="3" th:field="*{directions}"></textarea>
            </div>
            <div class="form-group">
                <label for="time">Czas przygotowania</label>
                <input type="text" class="form-control" id="time" th:field="*{time}">
            </div>
            <div class="form-group">
                <label for="ingredients">Wymień składniki</label>
                <textarea class="form-control" id="ingredients" rows="2" th:field="*{ingredients}"></textarea>
            </div>
            <div class="form-group">
                <label for="inputCategory">Kategoria</label>
                <div>
                    <select class="form-control" id="inputCategory" th:field="*{category}">
                        <option disabled selected value="">Wybierz...</option>
                        <option th:each="cat: ${categories}"
                                th:text="${cat.name}" th:value="${cat.id}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPicture">Url obrazka</label>
                <input type="text" class="form-control" id="inputPicture" th:field="*{img}">
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary mb-2">Zapisz</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>