<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Przekąski</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
</head>

<body class="mainBody">
<h2 class="recipeName">Przekąski</h2>
<img src="https://polki.pl/foto/4_3_LARGE/przekaski-dla-cukrzyka-na-impreze-i-nie-tylko-20-inspirujacych-pomyslow-na-niskoweglowodanowe-przystawki-2493571.webp"
     class="categoryImg" alt="przekaski">
<p class="text-For-Category">Szybkie przekąski są niezastąpione podczas imprez, takich jak urodziny, imieniny, sylwester czy przyjęcia świąteczne.
    Sprawdzają się także jako małe co nieco do podjadania w ciągu dnia. </p>

<table class="table">
    <thead>
    <tr>
        <th>
            <h3></h3>
        </th>
        <th>
            <h3>Nazwa</h3>
        </th>
    </tr>
    <tbody>
    <tr th:each="recipe: ${snack}">
        <td class="tdForImg">
            <img th:src="|/images/${recipe.img}|" class="homeImages" alt=""/>
        </td>
        <td>
            <a th:href="|/recipe/${recipe.id}|" th:text="${recipe.name}"></a>
        </td>
    </tr>
    </tbody>
</table>

<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>